<% if (title) { %>
<h1><%= title %></h1>
<%- messages() %>

<form id="loginForm" action="/account/login" method="post" class="form-container">
  <div class="form-group">
    <label for="accountEmail">Email</label>
    <input type="email" name="account_email" id="accountEmail" required placeholder="Enter a valid email address">
  </div>
  <div class="form-group">
    <label for="accountPassword">Password:</label>
    <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
    <input type="password" name="account_password" id="accountPassword" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
  </div>
  <button type="submit" class="form-btn">Log In</button>
  <p class="form-link">No account? <a href="/account/register">Sign Up</a></p>
</form>

<% } else { res.redirect('/') } %>