@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  color: var(--color-text);
  font-family: var(--font-body);
  line-height: 1.6;
}

h1 {
  color: var(--color-dark);
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  line-height: 1.2;
}

h2 {
  font-size: 1.2rem;
}

html {
  font-size: 12pt;
}
